*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.445),rgba(0, 0, 0, 0.527)),url('img/Perform_A_Background-_Check_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
}
.side-bar{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    width: 290px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    overflow-y: auto;
    transition: .5s ease;
    
   
}
.side-bar.active{
    left: 0;
}
.side-bar .menu{
    width: 100%;
    margin-top: 80px;
}
.side-bar .menu .item:first-child{
border-top: 1px solid #000;
}
.side-bar .menu .item{
    position: relative;
    cursor: pointer;
}
.side-bar .menu .item a{
    color:#fff;
    font-size: 20px;
    text-decoration: none;
    display: block;
    padding: 2px 30px;
    line-height: 60px;
    text-transform: capitalize;
    border-bottom: 1px solid #000;
}
.side-bar .menu .item a:hover{
    background-color: #8621F8;
    transition: .3s ease;
}
.side-bar .menu .item i{
    margin-right: 15px;
}
.side-bar .menu .item a .dropdwon{
    position: absolute;
    right: 0;
    margin: 20px;
}
.side-bar .menu .item .sub-menu{
    background-color: rgba(255, 255, 255, 0.1);
    display: none;
}
.side-bar .menu .item .sub-menu a{
    padding-left: 80px;
}
.rotate{
    transform: rotate(90deg);
    transition: .3s ease;
}
.menu-btn{
    color: #fff;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}
.close-btn{
    position: absolute;
    right: 0;
    margin: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
